/* general */

body {
    font-family: 'Arial';
}

/* render table with zebra striping */
tr:nth-of-type(odd) {
    background: lightblue;
}

/* table head in white/black */
th {
    background: #333;
    color: white;
    font-weight: bold;
}

/* mobile first */
/* display table elements in blocks below each other */
table, thead, tbody, th, td, tr {
    display:block;
}

/* hide table headers in an accessibility-friendly way */
thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

tr {
    border: 1px solid #ccc;
}

td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
}

td:before {
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
}

/* label every n-th row */
td:nth-of-type(1):before { content: "WKN / Symbol / ISIN"; }
td:nth-of-type(2):before { content: "Price"; }
td:nth-of-type(3):before { content: "Shares"; }
td:nth-of-type(4):before { content: "Current Ratio"; }
td:nth-of-type(5):before { content: "Goal Ratio"; }
td:nth-of-type(6):before { content: "New Shares"; }
td:nth-of-type(7):before { content: "Rebalanced Ratio"; }
td:nth-of-type(8):before { content: "Rebalanced Sum"; }
